<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <h1>연습용 페이지 입니다.</h1>
    <h2>회원 가입</h2>
    <form action="/members/join" method="post">
      <p>
        <label>ID : </label>
        <input type="text" name="id" id="id" placeholder="아이디를 입력해주세요...">
      </p>
      <p>
        <label>PASSWORD : </label>
        <input type="text" name="password" id="password" placeholder="비밀번호를 입력해주세요...">
      </p>
      <p>
        <button type="submit">회원 가입</button>
      </p>
    </form>

  </div>
</div> <!-- /container -->
</body>
</html>